.feather-16 {

    width: 16px;
    height: 16px;
}

.feather-10 {

  width: 14px;
  height: 14xpx;
}


table.dataTable td {
    font-size: 1em;
  }

  table.dataTable tr.dtrg-level-0 td {
    font-size: 1.1em;
  }